:root {
/* Colors */
/* Primary */
/* Text  */
  --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --SoftRed: hsl(14, 88%, 65%);
  
  /* Gradient Background gradient:  */
  --SoftViolet: hsl(273, 75%, 66%);
  --SoftBlue: hsl(240, 73%, 65%);
  /* Neutral Text  */
  --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
  --DarkGrayishBlue: hsl(240, 6%, 50%);
  /* Dividers */
  --LightGrayishBlue: hsl(240, 5%, 91%);
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, var(--SoftViolet), var(--SoftBlue)); 
  height: 98vh;
  font-family: 'Kumbh Sans',
  sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 93vh 4vh;
  grid-template-areas: "main" "footer";
  align-items: center;
  justify-items: center;
}

.card {
  grid-area: main;
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "card__left card__right" ;
}

.conte__img {
  grid-area: card__left;
  position: relative;
  overflow: hidden;
}
.bg__img {
  position: absolute;
  top: -300px;
  left: -525px;
  height: 1000px;
  width: 900px;
}
.img__fondo {
  position: absolute;
  top: 15%;
  left: -80px;
  height: 350px;
}
.conte__img__box {
  grid-area: card__left;
  position: relative;
}
.img__floating {
  position: absolute;
  top: 40%;
  left: -95px;
}
.card__right {
  grid-area: card__right;
  padding-top: 4rem;
  padding-right: 4rem;
}
.card__right__title {
  margin-bottom: 2.5rem;
}
.container__accordion {
  height: 300px;
}
.accordion__titulo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--VeryDarkDesaturatedBlue);
  font-size: 18px;
  text-decoration: none;
  padding: 10px 0;
}
.accordion-content {
  border-bottom: 1px solid var(--LightGrayishBlue);
}
.paragraph {
  overflow: hidden;
  max-height: 0;
  margin-top: 0;
  color: var(--VeryDarkGrayishBlue);
  font-size: 12px;
  line-height: 1.5rem;
  transition: all 0.3s ease-in;
}
.attribution {
  color: white;
  grid-area: footer;
  font-size: 11px;
  text-align: center;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}

.toggle-icon > img {
  height: 10px;
  margin: auto;
}

/**
*
* Comentario hover
*
**/
.accordion__titulo:hover {
  color: var(--SoftRed);
}
.accordion__titulo:active {
  font-weight: 700;
  color: aqua;
}
/* - Comentario activos - */
.accordion-content:target .paragraph {
  max-height: 120px;
  /* padding: 5px; */
}
.accordion-content:target .accordion__titulo > span > img {
  transform: rotate(-180deg);
}