:root {
/* Colors */
/* Primary */
/* Text  */
  --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --SoftRed: hsl(14, 88%, 65%);
  
  /* Gradient Background gradient:  */
  --SoftViolet: hsl(273, 75%, 66%);
  --SoftBlue: hsl(240, 73%, 65%);
  /* Neutral Text  */
  --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
  --DarkGrayishBlue: hsl(240, 6%, 50%);
  /* Dividers */
  --LightGrayishBlue: hsl(240, 5%, 91%);
}

* {
  box-sizing: border-box;
}

.body {
  background: linear-gradient(to bottom, var(--SoftViolet), var(--SoftBlue)); 
  height: 98vh;
  font-family: 'Kumbh Sans',
  sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 93vh 4vh;
  grid-template-areas: "main" "footer";
  align-items: center;
  justify-items: center;
}

.card {
  grid-area: main;
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "card__left card__right" ;
}
/**
*
* Comentario card left
* posicionamiento de img
*
**/
.conte__img {
  grid-area: card__left;
  position: relative;
  overflow: hidden;
}
.conte__movil__img {
  display: none;
}
.bg__img {
  position: absolute;
  top: -300px;
  left: -525px;
  height: 1000px;
  width: 900px;
}
.img__fondo {
  position: absolute;
  top: 15%;
  left: -80px;
  height: 350px;
}
.conte__img__box {
  grid-area: card__left;
  position: relative;
}
.img__floating {
  position: absolute;
  top: 40%;
  left: -95px;
}

/**
*
* Comentario card right
* acordeon
*
**/
.card__right {
  grid-area: card__right;
  padding-top: 4rem;
  padding-right: 4rem;
}
.card__right__title {
  margin-bottom: 2.5rem;
}
.container__accordion {
  height: 300px;
}
.accordion__titulo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--VeryDarkDesaturatedBlue);
  font-size: 18px;
  text-decoration: none;
  padding: 10px 0;
}
.toggle-icon {
  height: 10px;
  margin: auto;
}
.accordion-content {
  border-bottom: 1px solid var(--LightGrayishBlue);
}
.paragraph {
  text-align: left;
  overflow: hidden;
  max-height: 0;
  margin-top: 0;
  color: var(--VeryDarkGrayishBlue);
  font-size: 12px;
  line-height: 1.5rem;
  transition: all 0.3s ease-in;
}
.attribution {
  color: white;
  grid-area: footer;
  font-size: 11px;
  text-align: center;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}

/**
*
* Comentario hover
*
**/
@media (hover: hover) {
  .accordion__titulo:hover {
    color: var(--SoftRed);
  }
}

/**
*
* Comentario: acordeon
*
**/
.accordion-content:target .accordion__titulo {
  font-weight: 700;  
}
.accordion-content:target .paragraph {
  max-height: 120px;
}
.accordion-content:target .toggle-icon {
  transform: rotate(-180deg);
}

/**
*
* Comentario movil
*
**/
@media screen and (max-width: 390px) {
  .card {
    width: 95%;
    height: 550px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "card__top" "card__bottom";
  }

  .conte__img,
  .conte__img__box {
    display: none;
  }
  .conte__movil__img {
    display: flex;
    grid-area: card__top;
    position: relative;
  }
  .img__mobiel {
    position: absolute;
    top: -100%;
    width: 80%;
    left: 11%;
  }
  .card__right {
    grid-area: card__bottom;
    text-align: center;
    padding: 1rem;
  }
  .container__accordion {
    text-align: center;
  }
  .card__right__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 24px;
  }
  .accordion__titulo {
    font-size: 14px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
  .card {
    width: 95%;
    height: 550px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "card__top" "card__bottom";
  }

  .conte__img,
  .conte__img__box {
    display: none;
  }
  .conte__movil__img {
    display: flex;
    grid-area: card__top;
    position: relative;
  }
  .img__mobiel {
    position: absolute;
    top: -100%;
    width: 80%;
    left: 11%;
  }
  .card__right {
    grid-area: card__bottom;
    text-align: center;
    padding: 1rem;
  }
  .container__accordion {
    text-align: center;
  }
  .card__right__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 24px;
  }
  .accordion__titulo {
    font-size: 14px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    width: 95%;
    height: 550px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "card__top" "card__bottom";
  }
  
  .conte__img,
  .conte__img__box {
    display: none;
  }
  
  .conte__movil__img {
    display: flex;
    grid-area: card__top;
    position: relative;
  }
  
  .img__mobiel {
    position: absolute;
    top: -100%;
    width: 80%;
    left: 11%;
  }
  
  .card__right {
    grid-area: card__bottom;
    text-align: center;
    padding: 1rem;
  }
  
  .container__accordion {
    text-align: center;
  }
  
  .card__right__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 24px;
  }
  
  .accordion__titulo {
    font-size: 14px;
  }
}